span{
  color:#EEEEEE;
}

.bracketText{
    text-align:center;
}

.bracketContainer{
    background-color: #254B62;
    border:solid #254B62;
    border-radius:25px;
    text-align:center;
    padding: 10px 10px 10px 10px;
    margin:0px 10px 10px 10px;
}

.pointsLogo, .calcBtn{
    background-color:#77ABB7;
    border-color:#77ABB7;
    color:#EEEEEE;
}

.bracketRow, .ratingRow, .pointsRow{
    display:inline-block;
    padding: 10px 10px 10px 10px;
}

.ratingText{
   padding-bottom:4px;
   text-align:left;
}

.ratingInput{
    padding:0px;
}

.pointsTLK, .pointsTBC{
    margin-top:4px;
    margin-bottom:4px;
}

.calcBtn{
  padding-top: 11px;
  padding-bottom: 11px;
}
