<div id="3v3" class="bracketContainer container vstack">
    <div class="ratingRow row">
            <div class="ratingText row">
                <span>Rating</span>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <input id="ratingInput" type="number" class="form-control" min="150" placeholder="Your rating" aria-label="Your rating" aria-describedby="basic-addon2" required="true" [(ngModel)]="ratingInput">
                    <div class="input-group-append">
                        <button class="calcBtn btn btn-outline-primary" type="button" (click)="onClick()">Calculate</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="pointsRow row">
        <div class="ratingText row">
            <span>Points</span>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="pointsLogo input-group-text">
                    <img alt="TBC" title="TBCC - S4" text="TBC" style="height:28px; width=60px" src="assets/imgs/TBC_Logo.png"/>
                </span>
            </div>
            <input id="tbcPoints" type="number" class="form-control" aria-label="TBC Points" [(ngModel)]="tbcPoints" disabled/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="pointsLogo input-group-text">
                    <img alt="TLK" title="TLKC - S5" text="TLK" style="height:30px; width:60px" src="assets/imgs/TLK_Logo.png"/>
                </span>
            </div>
            <input id="tlkPoints" type="text" class="form-control" aria-label="TLK Points" [(ngModel)]="tlkPoints" disabled/>
        </div>
    </div>
</div>
